<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iyuba.lib"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--关闭定位权限-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <application
        android:allowBackup="false"
        android:name="com.iyuba.core.common.base.CrashApplication"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name="com.iyuba.core.common.activity.InfoFulfillActivity"/>
        <!--<activity android:name="com.iyuba.core.common.activity.RegisterNewActivity"/>-->
        <activity android:name="com.iyuba.core.discover.fragment.ContainerActivity" />
        <activity
            android:name="com.iyuba.core.talkshow.lesson.watch.WatchDubbingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iyuba.core.talkshow.dub.preview.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.iyuba.core.talkshow.dub.DubbingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.iyuba.core.talkshow.lesson.LessonPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.iyuba.core.talkshow.talkClass.TalkClassActivity" />
        <activity android:name="com.iyuba.core.talkshow.myTalk.MyTalkActivity" />
        <activity android:name="com.iyuba.core.discover.activity.MyclassActivity" />
        <activity android:name="com.iyuba.core.discover.activity.WordCollection" />
        <activity android:name="com.iyuba.core.discover.activity.WordSetActivity" />
    </application>

</manifest>