<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.iyuba.learnNewEnglish.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:taskAffinity="com.iyuba.learnNewEnglish"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iyuba.learnNewEnglish.wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="com.iyuba.learnNewEnglish"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

    <!--这里用于高版本的微信回调情况-->
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>
</manifest>